.footer {
    background-color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   position: absolute;
    height: 80px;
    margin: auto;
    bottom: 0px;
    left: 0;
    right: 0;
    
    }
    .text{
        color:beige;
        align-self: center;
    }
    